@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black:black;
    --white:white;
    --white-brown:rgb(248, 244, 225);
}
body{
    transition: background-color ease-out .5s;
}
body[theme="black"]{
    background-color: var(--black);
}
body[theme="black"] .section{
   color: var(--white);
}
body[theme="white"]{
    background-color: var(--white);
}
body[theme="white"] .section{
    background-color: var(--black);
 }
.vidodiv{
    clip-path: circle(var(--clip) at 50% 50%);
}
.video-div video{
    position: absolute;
    z-index: 0;
}
.video-div img{
    position: absolute;
    z-index: 1;
}
.video-div #logo{
    width: 6%;
    top: 17%;
    left: 5%;
}
.video-div #cc-img{
    width: 1028px;
    height: 390px;
    object-fit: cover;
    left: 13%;
    top: 17%;
}
.video-div h1{
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 73%;
    letter-spacing: -0.03em;
    font-size: 22px;
    color: white;
}
.makers-img-div1 , .makers-img-div2, .makers-img-div4{
    margin-top: 4vw;
    display: flex;
    width: 20%;
}
.makers-img-div3{
    display: flex;
    margin-top: 2vw;
    width: 20%;
}


#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 9vw;
    display: inline-block;
    text-transform: uppercase;
}

#gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: #f8cc27;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.join{
    margin-top: 3vw;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 400;
}
.join-div {
    padding: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin-top: 3vw;
}

.join-img-div {
    flex: 1;
    height: 100vh;
    background-image: url('https://static.wixstatic.com/media/nsplsh_6f7572514852544532494d~mv2_d_5472_3648_s_4_2.jpg');
    background-size: cover; 
    background-position: -210px center; 
    background-attachment: fixed; 
}

.join-h1-div {
    flex: 1;
    padding-left: 20px;
    background-color: white;
    height: 100vh;
    font-size: 23px;
    width: 100%;
    text-align: left;
}
/* .join-h1-div{
    width: 145%;
    margin-left: 43px;
    font-size: 24.5px;
    width: 100%;
    text-align: left;
} */
.join-h1-div h1{
    font-weight: 300;
}
.button {
    --color: #8738c3;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    margin-top: 1vw;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(255, 255, 255);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   