@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: black;
    --white: white;
    --white-brown: rgb(248, 244, 225);
}

body {
    transition: background-color ease-out .5s;
}

body[theme="black"] {
    background-color: var(--black);
}

body[theme="black"] .section {
    color: var(--white);
}

body[theme="white"] {
    background-color: var(--white);
}

body[theme="white"] .section {
    background-color: var(--black);
}

.vidodiv {
    clip-path: circle(var(--clip) at 50% 50%);
}

.video-div video {
    position: absolute;
    z-index: 0;
}

.video-div img {
    position: absolute;
    z-index: 1;
}

.video-div #logo {
    width: 6%;
    top: 17%;
    left: 5%;
}

.video-div #cc-img {
    width: 1028px;
    height: 390px;
    object-fit: cover;
    left: 13%;
    top: 17%;
}

.video-div h1 {
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 73%;
    letter-spacing: -0.03em;
    font-size: 22px;
    color: white;
}

.makers-img-div1,
.makers-img-div2,
.makers-img-div4 {
    margin-top: 4vw;
    display: flex;
    width: 20%;
}

.makers-img-div3 {
    display: flex;
    margin-top: 2vw;
    width: 20%;
}


#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 9vw;
    display: inline-block;
    text-transform: uppercase;
}

#circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: #f8cc27;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.join {
    margin-top: 3vw;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 400;
}

.join-div {
    padding: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin-top: 3vw;
}

.join-img-div {
    flex: 1;
    height: 100vh;
    background-image: url('https://static.wixstatic.com/media/nsplsh_6f7572514852544532494d~mv2_d_5472_3648_s_4_2.jpg');
    background-size: cover;
    background-position: -210px center;
    background-attachment: fixed;
}

.join-h1-div {
    flex: 1;
    padding-left: 20px;
    background-color: white;
    height: 100vh;
    font-size: 23px;
    width: 100%;
    text-align: left;
}

.join-h1-div h1 {
    font-weight: 300;
}

.button {
    --color: #8738c3;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    margin-top: 1vw;
}

.button::before,
.button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
    height: 410px;
    width: 410px;
}

.button:hover {
    color: rgb(255, 255, 255);
}

.button:active {
    filter: brightness(.8);
}

.quick {
    font-family: "Poppins", sans-serif;
    margin-top: 4vw;
}

.quick h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: -0.2px;
    word-spacing: 4.4px;
    color: #000000;
    text-decoration: none solid rgb(68, 68, 68);
}
.quick h1 span{
    color: #8738c3;
}
 .quick a {
    font-family: Georgia, serif;
    font-size: 4vw;
    font-weight: 400;
    color: #484848;
    margin-left: 7vw;
    filter: blur(1px);
    display: grid;
 }
 .links{
    padding-top: 44px;
 }
 #link1{
    display: flex;
    width: 27%;
    gap: 3%
 }
 #link2{
    width: 37%;
    margin-left: 11vw;
    display: flex;
    gap: 3%;
 }
 #link3{
    width: 37%;
    margin-left: 16vw;
    display: flex;
    gap: 3%;
 }
 #link4{
    width: 37%;
    margin-left: 20vw;
    display: flex;
    gap: 3%;
 }
 #link5{
    width: 38%;
    margin-left: 24vw;
    display: flex;
    gap: 3%;
 }
 #link6{
    width: 40%;
    margin-left: 28vw;
    display: flex;
    gap: 3%;
 }
 #link7{
    width: 38%;
    margin-left: 32vw;
    display: flex;
    gap: 3%;
 }
 #link8{
    width: 51%;
    margin-left: 36vw;
    display: flex;
    gap: 3%;
 }
 #link1 span, #link2 span, #link3 span,#link4 span, #link5 span,#link6 span,#link7 span,#link8 span{
    color: #8738c3;
 }
 .links :hover{
    color: rgb(0, 0, 0);
    filter: blur(0px);
 }
 .discover{
    display: flex;
    margin-top: 6vw;
    background-color: #000000;
    padding: 10px 36px;
 }
 .discover-img {
    background-image: url('https://static.wixstatic.com/media/b4ba26_4569c954fd8b41c3af2a548af7233f5b~mv2.jpg/v1/fill/w_758,h_731,al_c,q_85,usm_1.20_1.00_0.01,enc_auto/b4ba26_4569c954fd8b41c3af2a548af7233f5b~mv2.jpg');
    flex: 1;
    height: 90vh;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

 .discover h1{
    color: white;
    width: 35%;
    font-size: 54px;
    margin-left: 60px;
 }
 .program {
    margin-left: 28vw;
 }
 #program-info{
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
    font-weight: 800;
    margin-left: 8vw;
 }
.courses{
    display: flex;
    gap: 7%;
    font-size: 21px;
    width: 162%;
    font-family: "Montserrat", sans-serif;
}
.year-1 h1, .year-2 h1, .year-3 h1{
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1vw;
}
.year-1 p, .year-2 p,.year-3 p{
    margin-bottom: 1vw;
    color: #8738c3;
    font-weight: 500;
    cursor: pointer;
}
span{
    color: #8738c3;
}
.join-now{
    background-image: url('https://static.wixstatic.com/media/nsplsh_82caa8ab7e1648039e9c58944a5c9e71~mv2.jpg/v1/fill/w_1263,h_784,al_t,q_85,usm_1.20_1.00_0.01,enc_auto/nsplsh_82caa8ab7e1648039e9c58944a5c9e71~mv2.jpg');
    flex: 1;
    height: 70vh;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.join-now h1{
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-top: 8vw;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    width: 66%;
    margin-left: 16vw;
}
.join-now h2{
    color: white;
    font-family:"Montserrat", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-top: 4vw;
}
.join-now button {
    padding: 0.8em 1.8em;
    border: 2px solid #ffffff;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #ffffff;
    position: absolute;
    left: 44%;
    margin-top: 3vw;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: white;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 105%;
   }
   
   button:hover {
    color: #111;
   }
   
